#fond {    
    background: url(images/grandserpentresized.jpg) fixed no-repeat
     top center/100%;
    margin:0;
    padding:0;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    }

.container 
{
    border: 5px solid blanchedalmond;
    border-radius: 20px;
    max-width: fit-content;
    padding: 20px 30px;
    margin-top: 130px;
}

.navbar-left 
{
    margin-left: 70px; 
    margin-top: -70px;
}


.container p
{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: whitesmoke;

}

.col
{
    font-family: "Lato", sans-serif;
    font-size: 30px;
    max-width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: blanchedalmond;
}

canvas {
    width: 96%;
    color: #17b302;
}

.titre {
    text-align: center;
}

.jeu {
    width: 100%;
    height: 80px;
}

.jeu h1 {
    font-family: serif;
    color: cornsilk;
    border: 2px solid black;
    background-color: green;
    padding: 1px 5% 20px 5%;
    display:inline-block
}

.jeu p{
    margin-top: -32px;
    margin-bottom: auto;
    color: black;
    font-family: bold;
}

div.separateur {
    height: 100px;
}

div.formulaire {
    margin-top: 120px;
    padding: 0px 10px 20px 10px ;
    text-shadow: 0 0 2px black;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 208, 138);
    font-size: 25px;
    border:1px solid white;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 1700px) 
{


    .navbar-left
    {
        margin-top: 20px;

    }
    div.separateur 
    {
        height: 200px;
    }
    
}
@media screen and (max-width: 768px) 
{
    .navbar-left
    {
        margin-top: 30px;
    }

    div.separateur 
    {
        height: 0px;
    }
    
}



/* #animationSerpent {
    background-color: chartreuse;
    margin-top: 510px;
    margin-left: -8px;
    width: 100.9%;
    height: 100px;
} */

